.modal {
  display: block; /* Mostrar el modal */
  position: fixed; /* Fijar posición */
  z-index: 1000; /* Estar por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Habilitar scroll si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% desde el top y centrado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Puede ajustar el ancho */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
