<div class="card-body-perfil" *ngIf="usuario">
  <h4 class="card-title text-center">
    {{ usuario.nombre }} {{ usuario.apellido }}
    <i class="bi bi-pencil-square edit-icon" (click)="editarPerfil()"></i>
  </h4>
  <p class="card-text-perfil">{{ usuario.mail }}</p>
  <!-- Detalles del perfil aquí... -->
  
  <div class="dropdown mt-3">
    <button class="dropdown-toggle" (click)="toggleDropdown('fichaMedica')" aria-expanded="mostrarFichaMedica">
      Ficha Médica
    </button>
    <ul class="dropdown-menu" [ngClass]="{ show: mostrarFichaMedica }">
      <li *ngIf="mostrarFichaMedica">
        <p *ngIf="perfil" class="card-text-perfil">{{ perfil.documento_tipo }}: {{ perfil.documento_id }}</p>
        <p *ngIf="perfil" class="card-text-perfil">Legajo: {{ perfil.legajo_id }}</p>
      </li>
    </ul>
  </div>

  <div class="dropdown mt-3">
    <button class="dropdown-toggle" (click)="toggleDropdown('cambiarContrasena')" aria-expanded="mostrarCambiarContrasena">
      Cambiar Contraseña
    </button>
    <ul class="dropdown-menu" [ngClass]="{ show: mostrarCambiarContrasena }">
      <li *ngIf="mostrarCambiarContrasena">
        <input class="form-control" [(ngModel)]="nuevaContrasena" type="password" placeholder="Nueva contraseña" />
        <button class="btn btn-success mt-2" (click)="guardarContrasena()">Guardar Contraseña</button>
      </li>
    </ul>
  </div>
</div>
