
<div class="container">
  <div class="form-group">
    <label for="filtroEstado">Filtrar por estado:</label>
    <select [(ngModel)]="filtroEstado" (ngModelChange)="cambiarFiltro($event)" class="form-control" id="filtroEstado">
      <option value="todos">Todos</option>
      <option value="noAprobados">No Aprobados</option>
      <option value="aprobados">Aprobados</option>
    </select>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of medicosFiltrados" class="medico-item">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.aprobado | aprobado }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="verFicha(usuario.id)">Ver ficha</button>
          <button
          class="btn btn-sm"
          [ngClass]="{
            'btn-danger': !usuario.aprobado,
            'btn-success': usuario.aprobado
          }"
          (mouseover)="hoverButton(true)"
          (mouseout)="hoverButton(false)"
          (click)="cambiarEstadoAprobacion(usuario)">
          {{ usuario.aprobado ? 'Desaprobar' : 'No Aprobado' }}
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
