.btn-hover {
    filter: brightness(1.2);
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  