body, .body-todo {
  background-image: url("/assets/clinicafondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', sans-serif;

}