<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Registro</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
              </div>
              <div class="invalid-feedback" *ngIf="validarExiste()">
                El usuario ya existe</div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="mail" name="email" [(ngModel)]="usuario.mail" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="usuario.pass" required>
              </div>
              <div class="form-group">
                <label for="confirmPassword">Repetir contraseña:</label>
                <input type="password" class="form-control" id="confirmPass" name="confirmPass" [(ngModel)]="pass2" required>
              </div>
              <div clas="row" *ngIf="usuario.pass == pass2 && !validarExiste()">
                <input type="button" class="btn btn-primary btn-block"  (click)="registrar()" value="registrar">
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  