<button class="btn" (click)="volver()" style="background: none; border: none; padding: 0;">
  <i class="bi bi-arrow-left-circle" style="font-size: 36px; font-weight: bold;"></i> <!-- Icono de flecha hacia la izquierda -->
</button>
<h1>Agenda Médica</h1>
<div class="d-flex justify-content-center align-items-center my-3">
  <button class="btn btn-outline-primary me-2" (click)="semanaAnterior()">
      <i class="bi bi-arrow-left"></i> <!-- Flecha izquierda -->
  </button>
  <span class="mx-2">Semana {{ fechaInicioSemana | date:'dd-MM-yyyy' }} - {{ fechaFinSemana | date:'dd-MM-yyyy' }}</span> <!-- Semana filtrada -->
  <button class="btn btn-outline-primary ms-2" (click)="semanaSiguiente()">
      <i class="bi bi-arrow-right"></i> <!-- Flecha derecha -->
  </button>
</div>
<div class="container">
 
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let dia of diasSemana">{{ dia }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let dia of diasSemana">
          <div *ngFor="let hora of horasPorDia[dia]">
            <button class="btn btn-primary turno" 
            [ngClass]="{'disponible': isTurnoDisponible(hora), 'no-disponible': !isTurnoDisponible(hora)}"
            (click)="(idTurno = getTurnoId(dia, hora)) !== undefined ? abrirTurno(idTurno, dia, hora, medicoId) : null">
            {{ hora }}
          </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="isModalVisible" class="modal show" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal de aceptar</h5>
          <button type="button" class="btn-close" (click)="isModalVisible = false" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Fecha:</strong> {{ turnoSeleccionado?.fecha | date:'dd-MM-yyyy' }}</p>
          <p><strong>Hora:</strong> {{ turnoSeleccionado?.hora }}</p>
          <p><strong>Médico:</strong> {{ turnoSeleccionado?.medicoId }}</p>
        </div>
        <div class="modal-footer align-content-center">
          <button type="button" class="btn aceptarbtn" (click)="aceptarTurno()">Tomar Turno</button>
        </div>
      </div>
    </div>
  </div>

</div>
<style>
  .disponible {
    background-color: rgb(79, 167, 79);
    color: white;
  }
  .no-disponible {
    background-color: rgb(181, 83, 83);
    color: white;
  }
    .turno {
    padding: 5px;
    margin: 2px 0;
    border-radius: 5px; /* Bordes redondeados */
  }
  .disponible:hover {
    background-color:  rgb(174, 236, 174);/* Color al pasar el mouse */
  }
  .no-disponible:hover {
    background-color:  rgb(236, 173, 173);/* Color al pasar el mouse */
  }

  .aceptarbtn{
    background-color: rgb(79, 167, 79);
    color: white;
  }
  .aceptarbtn:hover {
    background-color:  rgb(174, 236, 174);/* Color al pasar el mouse */
  }

  
</style>
