<div class="container">
  <h1>Solicitar Turno</h1>

  <label for="especialidad">Seleccionar Especialidad:</label>
  <select id="especialidad" (change)="onEspecialidadChange($event)">
    <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
      {{ especialidad.nombre }}
    </option>
  </select>

  <div *ngIf="medicos.length > 0">
    <h2>Médicos Disponibles:</h2>
    <div *ngFor="let medico of medicos">
      <p>{{ medico.nombre }} {{ medico.apellido }}</p>
      <button (click)="verAgenda(medico.id)">VER AGENDA</button>
    </div>
  </div>
</div>
