<p class="text-start">PRINCIPAL MEDICO</p>
<div class="container mt-4">
    <h1 class="text-start">Bienvenido, Dr. {{ usuarioService.usuarioLogueado.nombre }} {{ usuarioService.usuarioLogueado.apellido }}</h1>
    <hr> <!-- Barra separatoria -->
    <div class="d-flex mt-4">
        <button class="btn btn-primary me-2" (click)="mostrarSeccion('agenda')">Ver Agenda</button>
        <button class="btn btn-secondary me-2" (click)="mostrarSeccion('habilitar-turnos')">Habilitar Turnos por Día</button>
        <button class="btn btn-secondary" (click)="mostrarSeccion('habilitar-turnos-mes')">Habilitar Turnos por Mes</button>
    </div>

    <!-- Sección de Ver Agenda y Lista de Turnos -->
    <div *ngIf="seccionActual === 'agenda'" class="agenda-container mt-4">
        <!-- Navegación entre subsecciones -->
        <h2 class="text-start">Agenda</h2>
        <div class="d-flex justify-content-start my-3">
            <button class="btn btn-outline-primary" (click)="mostrarSubseccion('calendario')">Calendario</button>
            <button class="btn btn-outline-primary ms-2" (click)="mostrarSubseccion('listaTurnos')">Lista de Turnos</button>
        </div>
        <!-- Navegación de semanas centrada -->
        <div class="d-flex justify-content-center align-items-center my-3">
            <button class="btn btn-outline-primary me-2" (click)="semanaAnterior()">
                <i class="bi bi-arrow-left"></i> <!-- Flecha izquierda -->
            </button>
            <span class="mx-2">Semana {{ fechaInicioSemana | date:'dd-MM-yyyy' }} - {{ fechaFinSemana | date:'dd-MM-yyyy' }}</span> <!-- Semana filtrada -->
            <button class="btn btn-outline-primary ms-2" (click)="semanaSiguiente()">
                <i class="bi bi-arrow-right"></i> <!-- Flecha derecha -->
            </button>
        </div>

        <!-- Sección de Especialidades del Médico -->
        <div class="mt-4">
            <h2 class="text-start mb-0" style="font-size: 14px; color: #555;">Especialidades del Médico</h2>
            <ul class="list-group">
                <li *ngFor="let especialidad of especialidades" class="list-group-item " style="font-size: 14px; color: #555;">
                    {{ especialidad.nombre }} (ID: {{ especialidad.id }})
                </li>
            </ul>
        </div>

        <!-- Sub-sección Lista de Turnos -->
        <div *ngIf="subseccionActual === 'listaTurnos'" class="mt-4">
            <h2 class="text-start " style="font-size: 14px; color: #555;">Lista de Turnos - Semana del {{ fechaInicioSemana | date:'dd-MM-yyyy' }} al {{ fechaFinSemana | date:'dd-MM-yyyy' }}</h2>
            <table class="table table-bordered" style="font-size: 14px; color: #555;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Especialidad</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Disponible</th>
                        <th>Paciente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let turno of turnos">
                        <td>{{ turno.id }}</td>
                        <td>{{ turno.especialidadId }}</td>
                        <td>{{ turno.fecha | date:'dd-MM-yyyy' }}</td>
                        <td>{{ turno.hora }}</td>
                        <td>{{ turno.disponible === 1 ? 'Sí' : 'No' }}</td>
                        <td>{{ turno.pacienteId ? turno.pacienteId : 'N/A' }}</td>
                        <td><i class="bi bi-x-circle" (click)="cancelarTurno()"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Sub-sección Calendario -->
        <div *ngIf="subseccionActual === 'calendario'">
            <h2 class="text-start">Calendario de turnos (próximamente)</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th *ngFor="let dia of diasSemana">{{ dia }}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Contenido del calendario -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Sección de Habilitar Turnos -->
    <div *ngIf="seccionActual === 'habilitar-turnos'" class="mt-2">
        <h2 class="text-start">Habilitar Turnos por día</h2>
        <form (ngSubmit)="habilitarTurno()" #turnoForm="ngForm">
            <div class="form-group">
                <label for="especialidad">Especialidad</label>
                <select id="especialidad" class="form-control" [(ngModel)]="turno.especialidadId" name="especialidad" required>
                    <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">{{ especialidad.nombre }}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="turno.especialidadId">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" class="form-control" [(ngModel)]="turno.fecha" name="fecha" required>
            </div>
            <div class="form-group" *ngIf="turno.especialidadId && turno.fecha">
                <label>Horarios Disponibles</label><br>
                <div class="row">
                    <div class="col-4" *ngFor="let hora of horasDisponibles">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [value]="hora" (change)="seleccionarHorarioMes(hora)" [checked]="horariosSeleccionados.includes(hora)">
                            <label class="form-check-label">
                                {{ hora }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!turnoForm.form.valid || horariosSeleccionados.length === 0">Habilitar Turnos</button>
        </form>
    </div>

    <!-- Sección de Habilitar Turnos -->
    <!-- Sección de Habilitar Turnos por mes -->
<div *ngIf="seccionActual === 'habilitar-turnos-mes'" class="mt-2">
    <h2 class="text-start">Habilitar Turnos por mes</h2>
    <form (ngSubmit)="habilitarTurnoMes()" #turnoMesForm="ngForm">
        <div class="form-group">
            <label for="especialidad">Especialidad</label>
            <select id="especialidad" class="form-control" [(ngModel)]="turnoMes.especialidadId" name="especialidad" required>
                <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">{{ especialidad.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="mes">Mes</label>
            <input type="month" id="mes" class="form-control" [(ngModel)]="turnoMes.mes" name="mes" required>
        </div>
        <div class="form-group">
            <label>Días de la Semana</label><br>
            <div *ngFor="let dia of diasSemana">
                <label>
                    <input type="checkbox" [value]="dia" (change)="seleccionarDia(dia)" [checked]="diasSeleccionados.includes(dia)">
                    {{ dia }}
                </label>
            </div>
        </div>
        <div class="form-group" *ngIf="turnoMes.especialidadId && diasSeleccionados.length > 0" >
            <label>Horarios Disponibles</label><br>
            <div class="row">
                <div class="col-4" *ngFor="let hora of horasDisponibles">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [value]="hora" (change)="seleccionarHorarioMes(hora)" [checked]="horariosSeleccionados.includes(hora)">
                        <label class="form-check-label">
                            {{ hora }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!turnoMesForm.form.valid || horariosSeleccionados.length === 0">Habilitar Turnos</button>
    </form>
</div>
</div>
